.App {
  background-color: white;
  box-sizing: border-box;
  margin: 40px auto;
  width: 50%;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title {
  color: #f318f8;
  text-align: center;
}
.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 90px;
}
.todo-form input {
  width: 75%;
  padding: 8px 15px;
  border: 1px solid #f318f8;
  border-radius: 30px;
}
.todo-form button {
  background: #f318f8;
  border: 1px solid #f318f8;
  border-radius: 30px;
  padding: 8px 15px;
}
.all-todos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 95px 30px 95px;
}
.all-todos h2 {
  color: #f318f8;
}
.todo-lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
  
}
.todo-lists h3{
  text-align: center;
  width: 100%;
  color:#e376d8;
}
.loading{
  text-align: center;
  width: 100%;
  color:#e376d8;
}
.todo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #e376d8;
  border-radius: 30px;
}

.des {
  padding: 10px 20px;
}
.btn {
  background-color: transparent;
  border: 1px solid #e376d8;
  border-radius: 100%;
  font-size: 23px;
  margin: 0px 30px;
  font-weight: bold;
}
.dis-btn{
  font-size:15px;
  background-color: transparent;
  border: 1px solid #e376d8;
  border-radius: 100%;
  margin: 0px 30px;
}
.todo-list button:hover {
  background-color: #c052c2;
}
